@model MonashApp.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<img src="~/Images/ProductImages/@(Model.Id).jpg" class="img-responsive" width="300" height="200">

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Brand
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand.Name)
        </dd>

        <dt>
            Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategory.Name)
        </dd>

        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasePrice)
        </dd>

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.OnHand)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OnHand)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CommittedToOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CommittedToOrder)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Backorder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Backorder)
            </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

    </dl>
</div>
<p>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to List", "Index")
    }
    @if (!User.IsInRole("Admin"))
    {
        @Html.ActionLink("Back to Home", "Index", "Home")
    }

</p>
