<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="row row page-header">
        <div class="col-xs-12 col-sm-4 wrapper-logo text-center">
            <a href="/" title="DigiStore">
                <div class="logo-image">
                    <img src="~/Images/Logo/DigiStore-crop.jpeg" class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
             <div class="header-search">
                 <form name="productsearch" method="get" action="/">
                     <input type="hidden" name="rf" value="kw" />
                     <div class="input-group">
                         <input class="form-control ajax_search" id="name_search" autocomplete="off" name="kw" type="text"
                                placeholder="Search..." nsearch-init="yes" nsearch-id="0" />
                         <span class="input-group-btn">
                             <button type="submit" value="Search" class="btn btn-default">
                                 <i class="fa fa-search"></i>
                             </button>
                         </span>
                     </div>
                 </form>
             </div>
        </div>
    </div>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Account", "Details", "Customers")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DigiStore Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
