<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DigiStore Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/LayoutStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />


</head>
<body>
    <div class="row page-header">
        <div class="col-xs-12 col-sm-4 wrapper-logo text-center">
            <a href="/" title="DigiStore">
                <div class="logo-image">
                    <img src="~/Images/Logo/DigiStore-logo.png" class="img-responsive">
                </div>
            </a>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="header-search">
                <form name="productsearch" method="get" action="/">
                    <input type="hidden" name="rf" value="kw" />
                    <div class="input-group">
                        <input class="form-control ajax_search" id="name_search" autocomplete="off" name="kw" type="text"
                               placeholder="Search..." nsearch-init="yes" nsearch-id="0" />
                        <span class="input-group-btn">
                            <button type="submit" value="Search" class="btn btn-search">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navCollapse" title="more options">
                    <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navCollapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Index","Home")" class="navlinks">Category <i class="fa fa-caret-down "></i></a>
                        <div class="sub-menu-1">
                            <ul>
                                <li><a href="#">Cases</a></li>
                                <li><a href="#">Cooling</a></li>
                                <li><a href="#">CPUs</a></li>
                                <li><a href="#">Fans & Accessories</a></li>
                                <li><a href="#">Graphics Cards</a></li>
                                <li><a href="#">Hard Drives & SSDs</a></li>
                                <li><a href="#">Memory</a></li>
                                <li><a href="#">Monitors</a></li>
                                <li><a href="#">Motherboards</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="@Url.Action("Contact","Home")" class="navlinks">Contact Us<i class="fa fa-phone"></i></a></li>
                    <li><a href="@Url.Action("Index","Home")" class="navlinks"><i class="fa fa-shopping-cart"></i></a></li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Product List", "Index", "Product")</li>
                        <li>@Html.ActionLink("My Orders", "Index", "Order", new { id = ViewBag.userId }, null)</li>

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DigiStore Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
@ViewBag.userId
</html>
