@model IEnumerable<MonashApp.Models.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Orders</h2>

<table id="orderTable" class="table table-condensed">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>Street Address</th>
            <th>City</th>
            <th>PostCode</th>
            <th>Ship Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => order.Id)</td>
                <td>@Html.DisplayFor(modelItem => order.OrderStatus)</td>
                <td>@Html.DisplayFor(modelItem => order.OrderDate)</td>
                <td>@Html.DisplayFor(modelItem => order.ToStreet)</td>
                <td>@Html.DisplayFor(modelItem => order.ToCity)</td>
                <td>@Html.DisplayFor(modelItem => order.ToZip)</td>
                <td>@Html.DisplayFor(modelItem => order.ShipDate)</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#orderTable').DataTable();
        });
    </script> 
}
